{% extends 'layout.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    <form action="{{ path('auth.login') }}" method="post">
        {{ csrf_input() }}
        {{ field('username', null, 'Nom d\'utilisateur') }}
        {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
        <p><a href="{{ path('auth.forget_password') }}">Mot de passe oublié ?</a></p>
        <button class="btn btn-primary">Se connecter</button>
    </form>
{% endblock %}
